#pool {
  height: 95vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#pool::-webkit-scrollbar {
  display: none;
}

#pool .highlight {
  font-weight: 900;
  color: crimson;
}
