#tierlist-pane {
  height: 95vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#tierlist-pane::-webkit-scrollbar {
  display: none;
}

#tierlist {
  background-color: black;
  margin-bottom: 1em;
}

.tier-container {
  display: flex;
  justify-content: left;
  background-color: #1a1a17;
  margin-top: 2px;
  min-height: 80px;
}

.tier-title-box {
  background-color: lightgreen;
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-wrap: anywhere;
}

.tier-title {
  font-size: 1.2em;
}
